<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Gama Bank</title>
</head>
<body>

  <section class="containerHome">
    <!-- BACKGROUND LATERAL -->
    <div class="imgBack" style="background: url('/img/back-02.webp')">
      <div class="filtroVerde"></div>
    </div>

    <!-- SEÇÃO DE FORMULÁRIO -->
    <div class="corpoForm">

      <!-- <div class="logo"><img src="img/logo.webp" alt="logo"></div> -->

      <!-- FORMULÁRIO DE LOGIN -->
      <form method="PUT" action="/">

        <input id="email" type="text" name="name" placeholder="Nome" autocomplete="off" required>

        <input id="email" type="email" name="email" placeholder="Email" autocomplete="off" required>
        
        <input id="email" type="text" name="cpf" placeholder="CPF" autocomplete="off" required>
    
        <input type="password" name="senha" placeholder="Senha">
    
        <button class="btn" id ="btn">Cadastrar</button><br>
  
        <a href="/"> <strong>voltar</strong></a><br>
  
      </form>
    </div>

  </section>
  
</body>
</html>