<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Gama Bank</title>
</head>
<body>

  <section class="containerHome">
    <!-- BACKGROUND LATERAL -->
    <div class="imgBack notNone">
        <div class="logo" style="width: 35%"><img src="img/logo.webp" alt="logo"></div>

        <div class="userLogado">
            <div class="imgUser"><img src="img/hulk-hand.jpg" alt="user"></div>

            <div class="userInfo">
                <h1>Stênio Amorim</h1>
                <h3>CPF: <span>999.999.999-99</span></h3>
                <h3>Conta: <span>5645 6557 8568 5528</span></h3>
            </div>
        </div>
    </div>

    <!-- SEÇÃO DE FORMULÁRIO -->
    <div class="corpoForm formUser">

       <a href="/"><button class="btn btnSair" id ="btn" style="width: 10%">Sair</button></a><br>

        <div class="saldo"><h3>Saldo Atual: R$ <span>200,00</span></h3></div>

        <div class="fatura">
            <form action="" method="post">
                <h2>Débito</h2>
                <p>Fatura atual</p>
                <h1>R$ <span>90,00</span></h1>
                <input type="email" placeholder="email" name="email" required>
                <input type="number" placeholder="valor" name="valor" required>
                <button class="btn">Transferir</button>
            </form>
            
        </div>

        <div class="fatura">
        <form action="" method="post" style="height: 90%;">
            <h2>Crédito</h2>
            <p>Fatura atual</p>
            <h1>R$ <span>120,00</span></h1>
            <h3>Limite Disponível: R$ <span>1.000,00</span></h3>
            <button class="btn">Pagar</button>
        </form>    
        </div>
  
      </form>
    </div>

  </section>
  
</body>
</html>